/csv_files/
/csv_files/baza_klientow.csv
/output/
/pdf_files/
/pdf_files/Wykaz dostaw szczegółowy 07-2024 OŚ.PDF
/pdf_files/Wykaz dostaw szczegółowy 07-2024 PG.PDF
/pdf_files/Wykaz dostaw szczegółowy 08-2024 OŚ.PDF
/pdf_files/Wykaz dostaw szczegółowy 08-2024 PG.PDF
/pdf_files/Wykaz dostaw szczegółowy 09-2024 OŚ.PDF
/pdf_files/Wykaz dostaw szczegółowy 09-2024 PG.PDF
/pdf_files/Wykaz dostaw szczegółowy 10-2024 OŚ.PDF
/pdf_files/Wykaz dostaw szczegółowy 10-2024 PG.PDF
/pdf_files/Wykaz dostaw szczegółowy 11-2024 OŚ.PDF
/pdf_files/Wykaz dostaw szczegółowy 11-2024 PG.PDF
/pdf_files/Wykaz dostaw szczegółowy 12-2024 OŚ.PDF
/pdf_files/Wykaz dostaw szczegółowy 12-2024 PG.PDF
/processed_pdfs/
/notatnik.txt
